{% extends "magazzino/base.html" %}

{% block title %}
{{ titolo }} - MIRA
{% endblock %}

{% block content %}

<div class="page-header">

    <div>
        <h2>{{ titolo }}</h2>

        <p>
            Registro delle produzioni in lavorazione e completate.
        </p>
    </div>

    <div>
        <a
            href="{% url nuova_produzione_url %}"
            class="btn"
        >
            Nuova produzione
        </a>
    </div>

</div>


<div class="card">

    {% if produzioni %}

        <table>

            <thead>

                <tr>
                    <th>Data</th>
                    <th>Prodotto</th>
                    <th>Lotto</th>
                    <th>Quantità prodotta</th>
                    <th>Stato</th>
                    <th>Azioni</th>
                </tr>

            </thead>

            <tbody>

                {% for produzione in produzioni %}

                    <tr>

                        <td>
                            {{ produzione.data_produzione }}
                        </td>

                        <td>
                            {{ produzione.articolo.codice }}
                            -
                            {{ produzione.articolo.nome_per_produzione }}
                        </td>

                        <td>
                            {% if produzione.lotto %}
                                {{ produzione.lotto.codice_lotto }}
                            {% else %}
                                -
                            {% endif %}
                        </td>

                        <td>
                            {% if produzione.quantita_prodotta != None %}
                                {{ produzione.quantita_prodotta }}
                                {{ produzione.articolo.unita_misura }}
                            {% else %}
                                -
                            {% endif %}
                        </td>

                        <td>
                            {{ produzione.get_stato_display }}
                        </td>

                        <td>
                            {% if tipo == "semilavorato" or perms.magazzino.operare_roboqubo %}<a href="{% url gestione_url produzione.pk %}">
                                {% if produzione.stato == "BOZZA" %}
                                    Apri ciclo di lavorazione
                                {% else %}
                                    Dettaglio
                                {% endif %}
                            </a>{% else %}Solo consultazione{% endif %}
                        </td>

                    </tr>

                {% endfor %}

            </tbody>

        </table>

    {% else %}

        <p>
            Nessuna produzione registrata.
        </p>

    {% endif %}

</div>

{% include "magazzino/includes/pagination.html" %}

{% endblock %}
