{% extends "magazzino/base.html" %}

{% block title %}
Modifica {{ articolo.codice }}
{% endblock %}

{% block content %}

<div class="page-header">

    <div>
        <h2>
            Modifica articolo
        </h2>

        <p>
            {{ articolo.codice }} - {{ articolo.descrizione }}
        </p>
    </div>

</div>


<div class="card">

    <form method="post">

        {% csrf_token %}

        {{ form.non_field_errors }}

        {% for field in form %}

            <div class="form-group">

                <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                </label>

                {{ field }}

                {% if field.help_text %}
                    <small>
                        {{ field.help_text }}
                    </small>
                {% endif %}

                {% for error in field.errors %}
                    <div class="error">
                        {{ error }}
                    </div>
                {% endfor %}

            </div>

        {% endfor %}

        <div class="page-actions">

            <button type="submit" class="btn">
                Salva modifiche
            </button>

            <a
                href="{% url 'dettaglio_articolo' articolo.pk %}"
                class="btn btn-secondary"
            >
                Annulla
            </a>

        </div>

    </form>

</div>

{% endblock %}